<table id="mytable">
  <thead>
    <tr>
      <th>Country</th>
      <th>Population</th>
      <th>Date</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Chinna</td>
      <td>1,363,480,000</td>
      <td>March 24, 2014</td>
      <td>19.1</td>
    </tr>
    <tr>
      <td>India</td>
      <td>1,241,900,000</td>
      <td>March 24, 2014</td>
      <td>17.4</td>
    </tr>
    <tr>
      <td>United States</td>
      <td>317,746,000</td>
      <td>March 24, 2014</td>
      <td>4.44</td>
    </tr>
    <tr>
      <td>Indonesia</td>
      <td>249,866,000</td>
      <td>July 1, 2013</td>
      <td>3.49</td>
    </tr>
    <tr>
      <td>Brazil</td>
      <td>201,032,714</td>
      <td>July 1, 2013</td>
      <td>2.81</td>
    </tr>
  </tbody>
</table>

<button (click)="exportAs('pdf')">export as pdf</button>
<button (click)="exportAs('png')">export as png</button>
<button (click)="exportAs('csv')">export as csv</button>
<button (click)="exportAs('txt')">export as txt</button>
<button (click)="exportAs('sql')">export as sql</button>
<button (click)="exportAs('json')">export as json</button>
<button (click)="exportAs('xml')">export as xml</button>
<button (click)="exportAs('xlsx')">export as Ms-Excel</button>
<button (click)="exportAs('docx')">export as MS-Word</button>
<button (click)="exportAs('pptx')">export as Ms-Powerpoint</button>